body {
    display: flex;
    
    justify-content: center;
    min-height: 100vh; /* assure que la hauteur de l'écran est couverte /
    margin: 0; / Supprime les marges par défaut du body */
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: crimson;
    background: linear-gradient(315deg, rgba(223,255,224,1) 23%, rgba(163,255,158,1) 50%, rgba(224,255,220,1) 100%);
    
    
    
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    height: auto;
}

div p {

    width: 640px;
    text-align: justify;
}

